<div class="card card-block bg-faded">
  
  <!--<app-flower [someNum]="parentNum"></app-flower>
  
  <app-ngbd-progressbar-basic 
    [progVal]="progress">
  </app-ngbd-progressbar-basic>

  <form>
    <label class="btn btn-success">
      Browse
    </label>
    <br>
    <br>
    <input type="file" name="newImage" ng-disabled="uploading" style="display: none">
    <button class="btn btn-primary" ng-disabled="uploading">Upload</button>
  </form>

  <br>
  <img src="defaultImageUrl">
   -->
  <p>{{defaultImageUrl}}</p>
</div>
